* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 60%;
    margin: 0 auto;
}
header {
    height: 5em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cccccc;
}
.text-search {
    width: 40%;
    padding: 0.3em;
    border: 3px solid black;
}
.btn {
    width: 15%;
    padding: 0.3em 0.5em;
    margin: 1em 0;
    color: white;
    background-color: #2b78e4;
    box-shadow: 0.2em 0.2em 0 black;
}
.medio {
    display: flex;
}
main, aside {
    margin: 0.7em;
}
main{
    flex: 3;
    margin-left: 0;
}
aside {
    flex: 1;
    margin-right: 0;
}
.aside-section {
    padding: 1em;
}
section {
    border: 2px solid black;
    margin: 1.2em 0;
}
.definition-container {
    display: flex;
    align-items: center;
}
.word {
    flex: 1;
    text-align: center;
    padding: 0.5em;
    padding-right: 0em;
}
.word h1 {
    font-size: 2.7em;
}
.word h3 {
    font-size: 1.3em;
    font-style: italic;
}
.word p {
    font-weight: 600;
}
.like {
    width: 85%;
    padding: 0.5em;
    margin: 1em 0;
    font-weight: bolder;
    background-color: #ffd966;
    box-shadow: 0.2em 0.2em 0 black;
}
.definition {
    flex: 3;
    padding: 0 2em;
}
.agregar {
    width: 100%;
    padding: 0.5em;
    margin: 1em 0;
    font-weight: bolder;
    background-color: #93c47d;
    box-shadow: 0.2em 0.2em 0 black;
}