* {
    font-family: "Roboto";
}
body {
    margin: 0px;
}

/*       NAV BAR         */

.nav {
    margin: 0px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #333333;
    padding: 10px;
}
li h1 {
    color: white;
}
.btn, li {
    font-size: 17px;
}
ul {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
li {
    padding: 10px;
    list-style-type: none;
}
a {
    text-decoration: none;
}
li a:visited, li a:link {
    color: #cccccc;
}
li a:hover {
    color: white;
    font-weight: bold;
}
.btn {
    color: white;
    background-color: #17a2b8;
    border: 4px solid black;
    box-shadow: 4px 4px black;
}

/*    USUARIO     */

.container {
    width: 50%;
    margin: 10em auto;
    border: 3px solid lightgrey;
}
.arriba {
    height: 100px;
    margin-bottom: 10px;
    background-color: #17a2b8;
}
.informacion {
    padding: 30px;
}
.img-perfil {
    position: relative;
    top: 45px;
    left: 30px;
    width: 100px;
    border: 5px solid white;
    border-radius: 100%;
}
.img-config {
    width: 15px;
    margin-right: 10px;
}
.img-ubicacion {
    width: 10px;
    margin-right: 15px;
}
.ubicacion-container {
    display: flex;
    align-items: center;
}