.container {
    width: 50%;
    margin: 10em auto;
    border: 3px solid lightgrey;
}
.arriba {
    height: 100px;
    background-color: #17a2b8;
}
.informacion {
    padding: 30px;
}
.perfil {
    position: relative;
    top: 45px;
    left: 30px;
    width: 100px;
    border: 5px solid white;
    border-radius: 100%;
}
.configuracion {
    width: 15px;
    margin-right: 10px;
}
.ubicacion {
    width: 10px;
    margin-right: 15px;
}
.ubi, .config {
    display: flex;
    align-items: center;
}